.ep-md-ticket-view {
  max-width: 364px;
  width: 364px;
  background-color: white;
  // border-right: 1px solid black;
  // border-bottom: 1px solid black;
  font-family: $sb-primary-font-family;
  padding: 10px;
  font-size: 35px;
}
